<div class="text-center">
  <h1 class="mb-4">Enter Text to Generate QR Code</h1>
  <form class="d-inline-block" action="/generate-qr" method="get">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="data" required />
      <button class="btn btn-primary" type="submit">Generate</button>
    </div>
  </form>
</div>
