body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #4ABDAC;
    font-family: 'Poppins', sans-serif;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
}

input[type="text"] {
    max-width: 300px;
    font-size: 1rem;
    color: black;
    font-weight: 600;


}

.btn {
    background-color: #FC4A1A;
    border: none;
    font-size: 1.4rem;
    color: black;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.btn:hover {
    background-color: #ff3700;
    color: white;
}

#generateQrBtn {
    background-color: #FC4A1A;
    border: none;
    font-size: 1.4rem;
    color: black;
    font-weight: 500;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

img {
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    margin-top: auto;
    text-align: center;
    font-size: 0.75rem;
    padding: 1em;
}